   <div class="row justify-content-between">
                <div class="col-sm-12">
                    <div class="alert alert-warning" id="transaction-alert"><strong>[STATUS]</strong> {% ifequal deposit.status 'pending' %}awaiting deposit{% else %}{{ deposit.status }}{% endifequal %}</div>

                    <p>Once we have received your GAS deposit, your fiat will be credited to:</p>

                    <div class="form-group">
                        <input id="id_receiver_bank_account_id"  class="form-control" type="text" readonly value="{{ deposit.receiver_account.name }} at {{ deposit.receiver_account.bankName }} ({{ deposit.receiver_account.bankAccountType }})">
                    </div>

                    <hr/>

                    <p>Complete this deposit with the NEX extension</p>
                    <button type="button" class="btn btn-primary" id="id_open_in_nex">Open NEX extension</button>
                    <hr/>

                    <p>Alternatively, you may send the transaction from another wallet by using the following transaction details:</p>
                    <pre>
{
    toAddr: "{{ deposit_wallet.address }}",
    assetId: "602c79718b16e442de58778e148d0b1084e3b2dffd5de6b7b16cee7969282de7",
    transactionAttributes: [
        {
            usage: 243,
            data: "{{ deposit.invoice_id }}"
        }
    ]
}
                    </pre>
                </div>
                <div class="col-sm-12">
                    <h5>Sale Estimator:</h5>

                    <div class="form-group col-sm-12">
                        <label for="id_amount">Amount</label>
                        <input type="number" name="amount" value="{{ deposit.amount }}" id="id_amount" placeholder="Amount" title="" class="form-control" step="any">
                    </div>
                    <div class="row no-gutters">
                        <div class="col-sm-4 total-losenge total-losenge-left">
                            <label for="id_gas_total">Initial Gas Price</label>
                            <p id="id_gas_total"  class="text-center total-amount total-important">{{ price_GAS|floatformat:2 }}</p>
                        </div>
                        <div class="col-sm-4 total-losenge total-losenge-middle">
                            <label for="id_fee_total">Our 5% fee</label>
                            <p id="id_fee_total"  class="text-center total-amount total-important"></p>
                        </div>

                        <div class="col-sm-4 total-losenge total-losenge-right">
                            <label for="id_total">You will receive</label>
                            <p id="id_total" class="text-center total-amount total-important"></p>
                        </div>
                    </div>
                </div>
            </div>

            <form method="post" action="{% url 'deposit-crypto-cancel' %}">
                {% csrf_token %}
                <input type="hidden" name="deposit_id" id="id_deposit_id" value="{{ deposit.id }}"/>
                <button type="submit" class="btn btn-secondary">Cancel deposit</button>
            </form>