{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load humanize %}
{% load i18n %}

{% block head_title %}{% trans "Bank Accounts" %}{% endblock %}

{% block content %}
<h1>{% trans "Bank accounts" %}</h1>
<p class="text-center larger-body-copy mb-4">{% trans "See all of your added bank accounts below" %}</p>

    <div class="row">
        <div class="col-12">
            {% for item in funding_sources %}

                {% if item.type == 'bank' %}
                <div class="col-sm centered-button">
                        <a href="{% url 'bank_accounts_create' %}" class="btn btn-primary mb-4">Add another bank account</a>
                    </div>
                <div class="card">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-sm-6">
                                <h5 class="card-title">{{ item.name }}</h5>
                                <div class="card-text">
                                    <p class="mb-0">{{ item.bankName }}</p>
                                    <p class="mb-0"><strong>Status:</strong> {{ item.status }}</p>
                                    <p><strong>ID:</strong> {{ item.id }}</p>
                                    <button type="button" class="btn btn-secondary">Manage this bank account</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

            {% empty %}
                <div class="card card-block">

                    <h5 class="card-title text-center">It looks like you don't have any bank account set up yet</h5>
                    <p class="text-center">{% trans "Setting up a bank account will allow you to purchase or sell cryptocurrencies" %}</p>
                    <div class="card-text">
                    <div class="col-sm centered-button">
                        <a href="{% url 'bank_accounts_create' %}" class="btn btn-primary">Add a bank account</a>
                    </div>
                    </div>

                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}


{% block footer_js %}

    {{ block.super }}


{% endblock %}