{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

<p>If you have not created an account yet, then please
<a href="{% url 'signup' %}">sign up</a> first please</p>

<form class="login" method="POST" action="{% url 'login' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="btn btn-link" href="{% url 'password_reset' %}">{% trans "Forgot Password?" %}</a>
  <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
