{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}

        <div class="alert alert-success">
            Your password has been successfully changed!

            <a class="btn btn-link" href="{% url 'profile' %}">Back to your profile</a>
        </div>

    {% else %}
        <div class="alert alert-success">
            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
    {% endif %}
    
{% endblock %}
