{% extends "account/base.html" %}
{% load bootstrap4 %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="card card-block card-block-center col-sm-10">
    <h1>{% trans "Reset your password" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center">{% trans "Forgotten your password? Enter your email below and we'll send you an email with instructions on how to reset your password" %}</p>

    <form method="POST" action="{% url 'password_reset' %}" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="col-sm centered-button">
        <button type="submit" class="btn btn-primary">{% trans 'Request password reset' %}</button>
        </div>
    </form>
</div>
{% endblock %}
