{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1>{% trans "Change Password" %}</h1>
<p class="text-center larger-body-copy">{% trans "Reset your password below" %}</p>
<div class="card card-block">

    <form method="POST" action="{% url 'password_change' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="centered-button col-sm">
            <button type="submit" class="btn btn-primary" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
    
</div>
{% endblock %}
