{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block content %}
<h1><i class="icon icon-user larger-icon"></i>{% trans "Profile" %}</h1>
<p class="text-center larger-body-copy">{% trans "Edit your account details below" %}</p>

    <div class="row">
        <div class="col-sm-12">
            <form class="update-profile" method="post" action="{% url 'profile' %}">
                {% csrf_token %}

                <div class="row">

                    <div class="card card-block col-sm-12">
                        <h6>Account details</h6>
                            {% bootstrap_field form.email %}
                            <a class="btn btn-secondary" href="{% url 'password_change' %}">Change password</a>
                    </div>
                    
                    <div class="card card-block col-sm-12 mt-3">
                        <h6>General details</h6>
                            {% bootstrap_field form.first_name %}
                            {% bootstrap_field form.last_name %}
                            {% bootstrap_field form.ssn_lastfour %}
                            {% bootstrap_field form.date_of_birth %}
                    </div>
                    
                    <div class="card card-block col-sm-12 mt-3">
                        <h6>Address details</h6>
                            {% bootstrap_field form.address1 %}
                            {% bootstrap_field form.city %}
                            {% bootstrap_field form.state %}
                            {% bootstrap_field form.postal_code %}
                    </div>
                    
                </div>
                
                <div class="col-sm centered-button mt-4">
                    <button type="submit" class="btn btn-primary">{% trans "Save and update details" %}</button>
                </div>
                
            </form>

        </div>

    </div>
<!--
<div class="row">
    <div class="col-12">
        <hr/>
        <h6>Dwolla url: {{ request.user.dwolla_url }}</h6>
        <h6>Dwolla id: {{ request.user.dwolla_id }}</h6>
        <h6>To json!</h6>
        <pre>{{ request.user.to_json }}</pre>
    </div>
</div>
-->
{% endblock %}


{% block footer_js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/gh/atatanasov/gijgo@1.7.3/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/gh/atatanasov/gijgo@1.7.3/dist/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_date_of_birth').datepicker({
                uiLibrary:'bootstrap4',
                format:'yyyy-mm-dd'
            })
        });
    </script>

{% endblock %}