{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

        {% block content %}
<div class="card card-block card-block-center col-sm-10">
            <h1>{% trans "Sign Up" %}</h1>
            <p class="text-center">{% trans "Purchase and sell cryptocurrencies with ease" %}</p>
        <form class="signup" id="signup_form" method="post" action="{% url 'signup' %}">
          {% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                    {% bootstrap_field form.email %}
                    {% bootstrap_field form.first_name %}
                    {% bootstrap_field form.last_name %}
                    {% bootstrap_field form.ssn_lastfour %}
                    {% bootstrap_field form.date_of_birth %}

                </div>
                <div class="col-sm-6">
                    {% bootstrap_field form.address1 %}
                    {% bootstrap_field form.city %}
                    {% bootstrap_field form.state %}
                    {% bootstrap_field form.postal_code %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% bootstrap_field form.password1 %}
                    {% bootstrap_field form.password2 %}
                </div>
            </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
            <div class="col-sm centered-button">
            <button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
            </div>
        </form>

</div>

{% endblock %}

{% block footer_js %}
    {{ block.super }}
    <script src="https://cdn.jsdelivr.net/gh/atatanasov/gijgo@1.7.3/dist/combined/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/gh/atatanasov/gijgo@1.7.3/dist/combined/css/gijgo.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        $(document).ready(function(){
            $('#id_date_of_birth').datepicker({
                uiLibrary:'bootstrap4',
                format:'yyyy-mm-dd'
            })
        });
    </script>

{% endblock %}