{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<div class="card">
    <div class="card-block">
        <form class="signup" id="signup_form" method="post" action="{% url 'signup' %}">
          {% csrf_token %}
            <div class="row">
                <div class="col-sm-6">
                    {% bootstrap_field form.email %}
                    {% bootstrap_field form.first_name %}
                    {% bootstrap_field form.last_name %}
                    {% bootstrap_field form.ssn_lastfour %}
                    {% bootstrap_field form.date_of_birth %}

                </div>
                <div class="col-sm-6">
                    {% bootstrap_field form.address1 %}
                    {% bootstrap_field form.city %}
                    {% bootstrap_field form.state %}
                    {% bootstrap_field form.postal_code %}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <hr/>
                    {% bootstrap_field form.password1 %}
                    {% bootstrap_field form.password2 %}
                    <hr/>
                </div>
            </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-success btn-lg">{% trans "Sign Up" %} <i class="fa fa-sign-in"></i></button>
        </form>

    </div>
</div>

{% endblock %}
