{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Transactions" %}{% endblock %}

{% block content %}
<h1>{% trans "My Transactions" %}</h1>

<div class="row">
    <div class="col-sm-12">

        {% for tx in request.user.purchase_set.all%}
        <div class="card card-block">
            <h4 class="card-title">Bought {{ tx.amount }} {{ tx.asset }} for ${{ tx.total|floatformat:2 }}</h4>
            <div class="card-text">
                <p>On {{ tx.date_created|date:'Y-m-d' }}</p>
                <p>Payment Status <em>{{ tx.status }}</em></p>

                <hr/>
                {% if tx.blockchain_transfer %}
                    <p>Sent {{ tx.amount }} {{ tx.asset }} to {{ tx.neo_address }}</p>
                    <p>Transaction Id: {{ tx.blockchain_transfer.transaction_id }}</p>
                    {% if tx.blockchain_transfer.confirmed_block %}
                    <p>Completed on block {{ tx.blockchain_transfer.confirmed_block }}</p>

                    <button type="button" class="btn btn-secondary toggle-tx-details">View Details</button>

                    <div class="transaction-details">
                        <pre>{{ tx.blockchain_transfer.tx_json }}</pre>
                    </div>

                    {% else %}
                    <p><em>Pending</em> Submitted on block {{ tx.blockchain_transfer.start_block }}</p>
                    {% endif %}
                {% else %}
                <p>Will send {{ tx.amount }} {{ tx.asset }} to {{ tx.neo_address }}</p>
                {% endif %}
            </div>
        </div>

        {% empty %}
            <div class="card card-block">
                <h4 class="card-title">No Transactions Yet</h4>
                <div class="card-text">
                    <a href="{% url 'bank_accounts_create' %}" class="btn btn-primary">Add Bank Account</a>
                    <a href="{% url 'purchase' %}" class="btn btn-secondary">Make A purchase</a>
                </div>

            </div>
        {% endfor %}
    </div>

</div>


{% endblock %}


{% block footer_js %}


    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.toggle-tx-details').click(function(){
                $(this).next('.transaction-details').toggle();
            });
        });
    </script>
{% endblock %}