body,
html {
	-moz-osx-font-smoothing: grayscale; 
}

body {
    font-family: 'Hind Madurai', sans-serif;
    background: url('bootstrapv4/images/sign-in-image-03.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.loggedin {
    font-family: 'Hind Madurai', sans-serif;
    background: #f2f5f8;
    background-color: #f2f5f8;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ecf0f4' fill-opacity='0.91' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: auto;
}


/*********************************************

Content container

**********************************************/

.container {
    max-width: 700px;
    margin-top: 60px;
}

.content-container {
    padding: 40px 0;
}


/*********************************************

General styles

**********************************************/

h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #0B124E;
    margin-bottom: 0.25rem;
}

p {
    color: #3A4077;
}

.larger-body-copy {
    font-size: 1.05rem;
    margin-bottom: 2rem;
}

.larger-icon {
    font-size: 1.75rem;
    margin-right: 5px;
}

.dividing-line {
    border-top: 1px solid #DBE1E8;
}

.card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px #E4E9EE;
}

.card-block-center {
    box-shadow: none;
    margin: 10% auto 0;
}

.card-block-no-shadow {
    box-shadow: none !important;
    margin: 0 auto;
}

.transaction-details {
    display: none;
}
.transaction-details pre, pre.tx-json {
    background-color: black;
    color: whitesmoke;
    padding:20px;
    font-size:70%;
}

.form-group label {
    color: #212C90;
    font-weight: 600;
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
}

.card-block {
    padding: 1.75rem;
}

/*********************************************

Main navigation

**********************************************/

nav {
    background-color: #1B2792; 
    border-bottom: 3px solid #7298FF;
}

.navbar {
    padding: 0.75rem 1rem;
}

.navbar-toggleable-md .navbar-nav .nav-link {
    padding: 0 1.15rem;
}

.navbar-toggleable-md .navbar-nav .nav-link i {
    margin-right: 8px;
}

nav .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar-nav .nav-link {
    color: #8895EA;
    padding-left:5px;
}
.navbar-nav .nav-link:hover{
    color: #ffffff;
}

.navbar-nav .nav-link.active {
    font-weight: 500;
    color: #ffffff;
}


/*********************************************

Purchase.html

**********************************************/

.total-container {
    overflow: hidden;
    margin-bottom: 1.75rem;
    margin-top: 0.5rem;
}

.total-losenge {
    background-color: #F7F8FC;
    padding: 0.7rem 0;
}

.total-losenge-left {
    border: 1px solid #DCE0EB;
    border-radius: 0.5rem 0 0 0.5rem;
}

.total-losenge-middle {
    border-top: 1px solid #DCE0EB;
    border-bottom: 1px solid #DCE0EB;
}

.total-losenge-right {
    border: 1px solid #DCE0EB;
    border-radius: 0 0.5rem 0.5rem 0;
}

.total-label,
.total-amount {
    margin-bottom: 0rem;
}

.total-label {
    color: #212C90;
}

.total-amount {
    font-size: 20px;
    font-weight: 400;
    color: #0B124E;
}

.total-important {
    font-weight: 600;
}

/*********************************************

Forms

**********************************************/

.is-invalid input {
    border-color: #cc1111;
}

.invalid-feedback {
    font-weight: bold;
}

.form-group {
    margin-bottom: 1.5rem;
}

form.signup .form-group label {
    display: none;
}

.form-control {
  color: #6A6C7E;
  border: 1px solid rgba(204, 211, 209, 1.0);
  border-radius: 0.25rem;
  font-family: 'Hind Madurai', sans-serif;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #0B124E;
  background-color: #fff;
  border-color: #7298FF;
  outline: none;
}

.form-control::-webkit-input-placeholder {
  color: #6A6C7E;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6A6C7E;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6A6C7E;
  opacity: 1;
}

.form-control::placeholder {
  color: #6A6C7E;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #eceeef;
  opacity: 1;
}

.form-control:disabled {
  cursor: not-allowed;
}

.form-group .total-label {
    font-size: 1rem;
    font-weight: 300;
}


/*********************************************

Add a bank account

**********************************************/

#iavContainer {
    background:white;
}



/*********************************************

Primary / secondary buttons

**********************************************/

.centered-button {
    text-align: center;
}

.btn-primary {
    font-weight: 500;
    font-size: 1rem;
    color: #fff;
    background-color: #212C90;
    font-family: 'Hind Madurai', sans-serif;
}

.btn-primary:hover {
    color: #fff;
    background-color: #2D3AB2;
}

.btn-secondary {
    background: none;
    border: 1px solid #212C90;
    font-family: 'Hind Madurai', sans-serif;
    color: #212C90;
}

.btn-secondary:hover {
    background: #EDF2FF;
    border: 1px solid #4C5AD6;
    font-family: 'Hind Madurai', sans-serif;
    color: #4C5AD6;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: darkgrey;
    color: #5a5a5a;
    border: none;
}