{% load i18n static bootstrap4%}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{% static 'bootstrapv4/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'app_custom.css' %}">
<link rel="stylesheet" href="{% static 'simple-line-icons/simple-line-icons.css' %}">
<!--<link rel="stylesheet" href="{% static 'simple-line-icons/styles.css' %}"> -->
<script src="https://use.fontawesome.com/50333dd26e.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<!-- Hind Manduri: Font import -->
<link href="https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700" rel="stylesheet">
    

{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n humanize %}
<body {% if request.user.pk %}class="loggedin"{%endif%}>


    {% include 'nav.html' %}

<div class="container">
    {% block messages %}
        {% if messages %}
            {% bootstrap_messages  %}
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
        <div class="content-container">

        {% block content %}
            
            <div class="card card-block">
                <h2 class="text-center">Payment service provider template</h2>

                <div class="card-text">
                {% if request.user.pk %}
                    <a href="{% url 'purchase' %}" class="btn btn-primary">Purchase Crypto</a>
                {% else %}
                    <a href="{% url 'signup' %}" class="btn btn-primary">Sign up now</a>
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>

                {% endif %}

                <h4>Current prices</h4>
                <ul>
                    <li>NEO ${{ price_NEO|floatformat:2 }}</li>
                    <li>GAS ${{ price_GAS|floatformat:2 }}</li>
                </ul>

                </div>

            </div>

        {% endblock %}
        </div>

    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

{% block footer_js %}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


{% endblock %}
</body>

</html>
