{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load humanize %}
{% load i18n %}

{% block head_title %}{% trans "Deposit Crypto" %}{% endblock %}



{% block content %}
<h1>{% trans "Deposit Crypto" %}</h1>

    <div class="row">
        <div class="col-12">

        <div class="card card-block">
            <h4 class="card-title">Convert GAS to USD</h4>


            {% if deposit.status == 'pending' %}

                {% include 'deposit/deposit_pending.html' %}

            {% elif deposit.status == 'gas_received' %}

                {% include 'deposit/deposit_gas_received.html' %}

            {% else %}

            {% endif %}

        </div>
    </div>

{% endblock %}




{% block footer_js %}

    {{ block.super }}

    <script type="text/javascript">
        var gas_price = {{ gas_price|floatformat:2 }};
        var receiver_addr = '{{ deposit_wallet.address }}';
        var invoice_id = '{{ deposit.invoice_id }}';
        var update_price_ui = function(){
            var purchase_total = $('#id_amount').val();
            var gas_total = (purchase_total * gas_price).toFixed(2);
            $('#id_gas_total').val(gas_total);
            fee_total = (gas_total * .05).toFixed(2);
            $('#id_fee_total').val(fee_total);
            total = ((purchase_total * gas_price) - (gas_total * .05)).toFixed(2);
            $('#id_total').val(total);
        };

        $(document).ready(function(){
           $('#id_amount').on('change keyup',function(){
               update_price_ui()
           });
           update_price_ui();


           $('#id_open_in_nex').click(function(){
               var currenttotal = $('#id_amount').val();
               var tenToEigth = 100000000;
               var actualGasAmount = currenttotal * tenToEigth;
               var message = {
                   to_addr: receiver_addr,
                   amount: actualGasAmount,
                   transactionAttributes:[
                       {
                           usage:243,
                           data:invoice_id
                       }
                   ]
               };
               console.log("Message to send: ", message);
               alert(JSON.stringify(message))
           });
        });
    </script>

{% endblock %}