{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load humanize %}
{% load i18n %}

{% block head_title %}{% trans "Deposit Crypto" %}{% endblock %}

{% block extrahead %}

    {% if deposit.status == 'awaiting_deposit' %}

<!--        <meta http-equiv="refresh" content="20"> -->

    {% elif deposit.status == 'gas_received' %}

<!--        <meta http-equiv="refresh" content="20"> -->

    {% elif deposit.status == 'pending' %}

<!--        <meta http-equiv="refresh" content="20"> -->
    {% endif %}

{% endblock %}

{% block content %}
<h1>{% trans "Deposit Crypto" %}</h1>
<p class="text-center larger-body-copy">{% trans "Deposit your GAS below to receive funds back to your bank account" %}</p>

    <div class="row">
        <div class="col-12">

        <div class="card card-block">
            <h4 class="card-title">Sell GAS for USD</h4>


            {% if deposit.status == 'awaiting_deposit' %}

                {% include 'deposit/awaiting_gas.html' %}

            {% elif deposit.status == 'gas_received' %}

                {% include 'deposit/gas_received.html' %}

            {% elif deposit.status == 'pending' %}

                {% include 'deposit/pending_bank_transfer.html' %}

            {% elif deposit.status == 'processed' %}

                {% include 'deposit/deposit_complete.html' %}


            {% elif deposit.status == 'failed' %}

                {% include 'deposit/failed.html' %}
            {% endif %}

        </div>
    </div>

{% endblock %}




{% block footer_js %}

    {{ block.super }}

    <script type="text/javascript">
        var gas_price = {{ price_GAS|floatformat:2 }};
        var receiver_addr = '{{ deposit_wallet.address }}';
        var invoice_id = '{{ deposit.invoice_id }}';
        var update_price_ui = function(){
            var purchase_total = $('#id_amount').val();
            var gas_total = (purchase_total * gas_price).toFixed(2);
            $('#id_gas_total').text(gas_total);
            fee_total = (gas_total * .05).toFixed(2);
            $('#id_fee_total').text(fee_total);
            total = ((purchase_total * gas_price) - (gas_total * .05)).toFixed(2);
            $('#id_total').text(total);
        };

        $(document).ready(function(){
           $('#id_amount').on('change keyup',function(){
               update_price_ui()
           });
           update_price_ui();


           $('#id_open_in_nex').click(function(){
               var currenttotal = $('#id_amount').val();
               var tenToEigth = 100000000;
               var actualGasAmount = currenttotal * tenToEigth;
               var message = {
                   toAddr: receiver_addr,
                   assetId: '602c79718b16e442de58778e148d0b1084e3b2dffd5de6b7b16cee7969282de7',
                   amount: actualGasAmount,
                   transactionAttributes:[
                       {
                           usage:243,
                           data:invoice_id
                       }
                   ]
               };
               window.postMessage({ type: "NEO_EXTENSION_START_TX", payload:message},"*");
               console.log("Message to send: ", message);
//               alert(JSON.stringify(message))
           });

            window.addEventListener(
              "message",
              function(event) {

                console.log("EVENT: ",event);
                var type = event.data.type;
                var error = event.data.error;
                var payload = event.data.payload;
                var status = -1;
                if( event.data.meta){
                    status = event.data.meta.status;
                }

                var alertMsg = $('#transaction-alert');

                switch (type) {
                  case "NEO_EXTENSION_TX_STATUS": {
                    switch (status) {
                      case "REJECTED":
                        console.log(
                          "Update the UI to refelect it is rejected with the error:", error
                        );
                        alertMsg.removeClass('alert-warning').addClass('alert-error');
                        alertMsg.html("<strong>[STATUS]</strong> Error processing transaction with Nex extension: ",error);
                        break;
                      case "PENDING":
                        console.log(
                          "Update the UI to refelect it is pending with the payload",
                            payload
                        );
                        alertMsg.html("<strong>[STATUS]</strong> NEX Extension has begun your transaction ...");
                        break;
                      case "COMPLETED":
                        console.log(
                          "Update the UI to refelect it is completed with the payload",
                            payload
                        );
                        alertMsg.removeClass('alert-warning').addClass('alert-success');
                        alertMsg.html("<strong>[STATUS]</strong> Your transaction has been submitted");
                        break;
                      default:
                    }
                    break;
                  }
                  default:
                }
              },
              false
            );

        });
    </script>

{% endblock %}