<nav class="navbar navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Payment Service Provider</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

        {% if request.user.pk %}
      <li class="nav-item">
        <a class="nav-link {% if '/purchase' in request.path%}active{% endif %}" href="{% url 'purchase' %}">Purchase</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if '/sell' in request.path%}active{% endif %}" href="{% url 'sell' %}">Sell</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if '/transactions' in request.path%}active{% endif %}" href="{% url 'transactions' %}">Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if '/profile' in request.path%}active{% endif %}" href="{% url 'profile' %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if '/accounts' in request.path%}active{% endif %}" href="{% url 'bank_accounts' %}">My Bank Accounts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>

        {% else %}
      <li class="nav-item">
        <a class="nav-link {% if 'signup' in request.path%}active{% endif %}" href="{% url 'signup' %}">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if 'login' in request.path%}active{% endif %}" href="{% url 'login' %}">Login</a>
      </li>

        {% endif %}
    </ul>
  </div>
</nav>