{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load humanize %}
{% load i18n %}

{% block head_title %}{% trans "Purchase" %}{% endblock %}



{% block content %}
<h1>{% trans "Purchase cryptocurrency" %}</h1>
<p class="text-center larger-body-copy">{% trans "Purchasing cryptocurrencies has never been safer, quicker, or easier" %}</p>
<!--<hr class="dividing-line">-->

    {% if has_bank_accounts %}

    {% else %}
    <div class="card card-block">
        <h4 class="card-title">Please Add A Bank Account</h4>
        <div class="card-text">
            <p><strong>Before making a purchase, you must first add a bank account</strong></p>
            <a href="{% url 'bank_accounts_create' %}" class="btn btn-primary">Add Bank Account</a>
        </div>
    </div>
    {% endif %}
    
    {% if has_bank_accounts %}

    <div class="row">
        <div class="col-12">

        <div class="card card-block">
<!--            <h4 class="card-title">Purchase Gas ( Current Price:  ${{ price_GAS|floatformat:2 }} )</h4>-->
            <form action="{% url 'purchase'%}" method="post" class="center">
                {% csrf_token %}

                <fieldset {% if not has_bank_accounts %}disabled{% endif %}>
                <div class="row justify-content-between">
                    <div class="col-sm-12">
                        {% bootstrap_field form.sender_account_id %}
                        {% bootstrap_field form.amount %}
                        <div class="row">
                            <div class="col-sm-8">
                                {% bootstrap_field form.neo_address %}
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label style="visibility: hidden">Copy from NEX</label>
                                    <button type="button" id="copy_addr_from_extension" class="btn btn-secondary btn-block">Copy from NEX</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    
                    <!-- Total denoter -->
                    <div class="col-sm-12 total-container">
                        <div class="row no-gutters">
                            <div class="col-sm-4 total-losenge total-losenge-left">
                                <p class="text-center total-label">Initial price</p>
                                <p id="id_gas_total" class="text-center total-amount">{{ price_GAS|floatformat:2 }}</p>
                            </div>
                            <div class="col-sm-4 total-losenge total-losenge-middle">
                                <p class="text-center total-label">Our 5% fee</p>
                                <p id="id_fee_total" class="text-center total-amount"></p>
                            </div>

                            <div class="col-sm-4 total-losenge total-losenge-right">
                                <p class="text-center total-label total-important">Total to pay</p>
                                <p id="id_total" class="text-center total-amount total-important"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm centered-button">
                    <button type="submit" id="id_purchase_btn" class="btn btn-primary btn-lg">Purchase 1 Gas</button>
                </div>
                </fieldset>
            </form>
        </div>
    </div>
    {% endif %}    

{% endblock %}




{% block footer_js %}

    {{ block.super }}

    <script type="text/javascript">
        var gas_price = {{ price_GAS|floatformat:2 }};

        var update_prices = function(){
            var purchase_total = $('#id_amount').val();
            var gas_total = (purchase_total * gas_price).toFixed(2);
            $('#id_gas_total').text('$' + (gas_total));
            var fee_total = (gas_total * .05).toFixed(2);
            $('#id_fee_total').text('$' + (fee_total)) ;
            var total = ('$' + ((purchase_total * gas_price) + (gas_total * .05)).toFixed(2));
            $('#id_total').text(total);
            $('#id_purchase_btn').text('Buy ' + purchase_total + ' Gas instantly')
        };

        $(document).ready(function(){
           $('#id_amount').on('change keyup',function(){
               update_prices()
           });
           update_prices();

           $('#copy_addr_from_extension').click(function(){
                window.postMessage({ type: "NEO_EXTENSION_OPEN_RECEIVE", payload:{}},"*");
                console.log("NEO EXTENSION OPEN RECEIVE!")
           });
        });

    </script>

{% endblock %}
