{% extends "account/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load customer_tags %}

{% block head_title %}{% trans "Transactions" %}{% endblock %}

{% block content %}
<h1>{% trans "Account activity" %}</h1>
<p class="text-center larger-body-copy">{% trans "See all of your cryptocurrency sells and purchases below" %}</p>

<div class="row">
    <div class="col-sm-12">
        {% for tx in all_tx %}

        {% if tx|get_type == 'Deposit' %}

            {% with tx as deposit %}
            {% include 'transaction/sale.html' %}
            {% endwith %}

        {% elif tx|get_type == 'Purchase' %}

            {% include 'transaction/purchase.html' %}
        {% else %}
            <p>Could not determin type {{ tx|get_type }} </p>
        {% endif %}

        {% empty %}
            <div class="card card-block">
                <div class="card-text">
                    <h5 class="card-title text-center">You don't have any account activity yet...</h5>
                    <p class="text-center">Make a purchase to get started!</p>
                    <div class="centered-button col-sm">
                        <a href="{% url 'purchase' %}" class="btn btn-primary">Make a purchase</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>


{% endblock %}


{% block footer_js %}


    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.toggle-tx-details').click(function(){
                $(this).next('.transaction-details').toggle();
            });
        });
    </script>
{% endblock %}