       <div class="card card-block mb-3">
            <h4 class="card-title"><i class="icon icon-arrow-down-circle"></i> Purchased {{ tx.amount }} {{ tx.asset }} for ${{ tx.total|floatformat:2 }}</h4>
            <div class="card-text">
                <p class="mb-1"><strong>On</strong> {{ tx.date_created|date:'Y-m-d' }} {{ tx.date_created|time }}</p>
                <p class="mb-1"><strong>Current status:</strong> {{ tx.status }}</p>

                <hr/>
                {% if tx.blockchain_transfer_id > 0 %}
                    <p class="mb-1"><strong>Sent:</strong> {{ tx.amount }} {{ tx.asset }} to {{ tx.neo_address }}</p>
                    <p class="mb-1"><p><strong>Transaction Id:</strong> {{ tx.blockchain_transfer.transaction_id }}</p>
                    {% if tx.blockchain_transfer.confirmed_block %}
                    <p class="mb-1"><strong>Completed on block:</strong> {{ tx.blockchain_transfer.confirmed_block }}</p>

                    <button type="button" class="btn btn-secondary toggle-tx-details mt-2">View transaction details</button>

                    <div class="transaction-details">
                        <pre>{{ tx.blockchain_transfer.tx_json }}</pre>
                    </div>

                    {% else %}
                    <p><em>Pending</em> Submitted on block {{ tx.blockchain_transfer.start_block }}</p>
                    {% endif %}
                {% else %}
                <p>Will send {{ tx.amount }} {{ tx.asset }} to {{ tx.neo_address }}</p>
                {% endif %}
            </div>
        </div>