<div class="card card-block mb-3">


            {% if deposit.status == 'awaiting_deposit' %}

            <h4 class="card-title"><i class="icon icon-arrow-down-circle"></i> Awaiting deposit of gas</h4>


            {% elif deposit.status == 'gas_received' %}

            <h4 class="card-title"><i class="icon icon-arrow-down-circle"></i> Recieved {{ deposit.amount }} GAS, initiating payment to {{ deposit.receiver_account.name }} at {{ deposit.receiver_account.bankName }} ({{ deposit.receiver_account.bankAccountType }})</h4>


            {% elif deposit.status == 'pending' %}

            <h4 class="card-title"><i class="icon icon-arrow-up-circle"></i> Sold {{ deposit.amount }} GAS for ${{ deposit.total|floatformat:2 }}</h4>


            {% elif deposit.status == 'processed' %}

            <h4 class="card-title"><i class="icon icon-arrow-up-circle"></i> Sold {{ deposit.amount }} GAS for ${{ deposit.total|floatformat:2 }}</h4>


            {% elif deposit.status == 'failed' %}

            <h4 class="card-title">Error processing deposit.</h4>
            {% endif %}


            <div class="card-text">
                <p class="mb-1"><strong>On:</strong> {{ deposit.date_updated|date:'Y-m-d' }} {{ deposit.date_updated|time }}</p>
                <p class="mb-1"><strong>Current status:</strong> {{ deposit.status }}</p>

                {% if deposit.blockchain_transfer.transaction_id %}
                    <hr/>
                    <p class="mb-1"><strong>Received:</strong> {{ deposit.amount }} {{ deposit.asset }} from {{ deposit.neo_sender_address }}</p>
                    <p class="mb-1"><strong>Transaction Id:</strong> {{ deposit.blockchain_transfer.transaction_id }}</p>
                    <p class="mb-1"><strong>Completed on block:</strong> {{ deposit.blockchain_transfer.confirmed_block }}</p>

                {% else %}
                    <a class="btn btn-primary mb-3 mt-2" href="{% url 'deposit-crypto' %}">Complete this deposit</a>
                    <p>Once GAS is received, payment will be credited to <strong>{{ deposit.receiver_account.name }}</strong> at {{ deposit.receiver_account.bankName }} ({{ deposit.receiver_account.bankAccountType }})
                {% endif %}
            </div>
        </div>